
markupsafe==2.0.1

git+https://github.com/amaranth-lang/amaranth.git#egg=amaranth[builtin-yosys]
#git+https://github.com/amaranth-lang/amaranth-boards.git#egg=amaranth-boards
git+https://github.com/ryankurte/amaranth-boards.git@icesugar-pro#egg=amaranth-boards

